<div  class="navbar">
    <img src="/assets/images/logo.png" class="logo" alt="logo" [routerLink]="['/']"/>
    <nav class="nav-menu d-flex">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="nav-link" [routerLink]="['/shop']" routerLinkActive="active">Shop</a>
        <a class="nav-link" routerLink ="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="shopping-cart">
        <a routerLink="/basket" class="cart-icon" href="#">
            <i class="fa fa-shopping-cart fa-2x"></i>
            <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items?.length}}</div> 
        </a>
    <ng-container *ngIf="(currentUser$ | async) === null">
        <a routerLink="/account/login" class="btn btn-outline-secondary">Login</a>
        <a routerLink="/account/register" style="margin-left: 6px;" class="btn btn-outline-secondary">Sign up</a>
    </ng-container>
    <ng-container *ngIf="currentUser$ | async as user">
        <div class="dropdown ml-3 mr-5" dropdown>
        <a href="#" class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
           <strong> Welcome {{user?.displayName}} </strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
            <a href="/basket" class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-shopping-cart mr-3">View Basket</i>
            </a>
            <a href="/order" class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-history-cart mr-3">View Orders</i>
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" href="" class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-sign-out-cart mr-3">Logout</i>
            </a>
        </div>
        </div>
    </ng-container>    
    </div>
</div>