<div  class="navbar">
    <img src="/assets/images/logo.png" class="logo" alt="logo" [routerLink]="['/']"/>
    <nav class="nav-menu d-flex">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="nav-link" [routerLink]="['/shop']" routerLinkActive="active">Shop</a>
        <a class="nav-link" routerLink ="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="shopping-cart">
        <a routerLink="/basket" class="cart-icon" href="#">
            <i class="fa fa-shopping-cart fa-2x"></i>
            <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items?.length}}</div> 
    </a>
        <a  class="btn btn-outline-secondary">Login</a>
        <a style="margin-left: 6px;" class="btn btn-outline-secondary">Sign up</a>
    </div>
</div>